body {
  margin: 0;
  line-height: normal;
  overflow-x: hidden;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-x1: 20px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslateblue: #7f66a0;
  --color-gray: rgba(0, 0, 0, 0.11);
  --color-dimgray: #656363;
  --color-gainsboro-100: #d9d9d9;
  --color-darkgray-100: #949597;
  --color-midnightblue-100: #00045a;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-lgi: 19px;
  --padding-8xs: 5px;
  --padding-13xl: 32px;
  --padding-smi: 13px;
  --padding-3xl: 22px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-15xl: 34px;
  --padding-sm: 14px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-8xs: 5px;
  --br-10xs: 3px;
}
