.hoh0o {
  position: fixed;
  top: 10px;
  letter-spacing: -0.17px;
  color: inherit;
  left: 10vw;
}
.div1 {
  position: absolute;
  left: 15vw;
}
.project-editor,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
}
.rectangle-parent {
  height: 186px;
  width: 100vw;
  background-color: var(--color-midnightblue-100);
  flex-direction: column;
  padding: 47px 0 29px;
}
.project-editor {
  position: fixed;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
  z-index: 3;
}
.a {
  align-self: stretch;
  font-weight: bold;
  white-space: nowrap;
}
.b {
  height: 49px;
  flex: 1;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
}
.wrapper {
  padding: 0 24px 0 23px;
  margin-top: -4px;
  font-size: var(--font-size-13xl);
}
.live-memory-actions {
  position: absolute;
  top: 6.5px;
  left: 40vw;
}
.view {
  align-self: stretch;
  letter-spacing: -0.17px;
  white-space: nowrap;
}
.empty-button {
  height: 49px;
  flex: 1;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
}
.empty-button-wrapper {
  padding: 0 24px 0 23px;
  margin-top: -4px;
  font-size: var(--font-size-13xl);
}
.memory-labels {
  position: absolute;
  top: 6.5px;
  left: 64vw;
}
.profile-details {
  position: fixed;
  top: 45px;
  color: var(--color-white);
}
.profile-actions {
  position: relative;
}
.profile-actions-wrapper {
  padding: 0 0 0 var(--padding-11xs);
  font-size: var(--font-size-2xs);
  color: var(--color-midnightblue-100);
}
.b1 {
  height: 21px;
  flex: 1;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-inner,
.rectangle-group {
  width: 134px;
  background-color: var(--color-gainsboro-100);
}
.rectangle-group {
  position: absolute;
  top: 84px;
  left: 10vw;
  border-radius: 5px;
}
.b2 {
  height: 21px;
  flex: 1;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-container {
  width: 134px;
  position: absolute;
  top: 84px;
  right: 10vw;
  background-color: var(--color-gainsboro-100);
  border-radius: 5px;
}
.next-live {
  margin: 0;
  border-bottom: 4px solid #f87676;
  position: absolute;
  left: 15vw;
  font-size: inherit;
  letter-spacing: -0.17px;
  top: 159px;
}
.live-memory {
  margin: 0;
  color: #b2b2b2;
  font-size: inherit;
  letter-spacing: -0.17px;
  position: fixed;
  top: 159px;
  right: 15vw;
}
.frame-wrapper,
.live-details-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.live-details-parent {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 37px;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 32px 0 38px;
}
/*ここまでプロフィール*/
.frame-parent {
  font-size: var(--font-size-lg);
}
.child {
  align-self: stretch;
  height: 517px;
  position: relative;
  background-color: rgba(0, 4, 90, 0.4);
  flex-shrink: 0;
  display: none;
  z-index: 1;
}
.item {
  width: 150px;
  height: 82px;
  position: absolute;
  margin: 0 !important;
  margin-top: 60px;
  margin-left: 20px;
  bottom: 10px;
  left: 17px;
  flex-shrink: 0;
  object-fit: cover;
}
.rectangle-div {
  width: 352px;
  height: 326px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-dimgray);
  display: none;
  max-width: 100%;
}
.p,
.p1 {
  margin-block-start: 0;
  margin-block-end: 4px;
}
.p {
  white-space: pre-wrap;
}
.p1 {
  font-size: 30px;
}
.sekai-no-owari {
  margin: 0;
  font-size: 36px;
}
.sekai-no-owari-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.17px;
  z-index: 1;
}
.frame-child1 {
  height: 149.2px;
  width: 305px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  display: none;
}
.rectangle-icon {
  height: 141.4px;
  flex: 1;
  position: relative;
  border-radius: var(--br-10xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.group-div {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-darkgray-100);
  flex-direction: row;
  padding: var(--padding-11xs) 3px var(--padding-11xs) 4px;
  z-index: 1;
}
.artist-divider-inner,
.frame-container,
.frame-div,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 var(--padding-11xs);
}
.artist-divider-inner,
.frame-div {
  flex: 1;
}
.frame-div {
  border-radius: var(--br-31xl);
  background-color: var(--color-dimgray);
  flex-direction: column;
  padding: var(--padding-3xl) 20px 22.8px;
  box-sizing: border-box;
  max-width: 100%;
}
.artist-divider-inner {
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 11px;
  flex-shrink: 0;
  cursor: pointer;
}
.artist-divider,
.artist-divider-inner,
.frame-child2 {
  box-sizing: border-box;
  max-width: 100%;
}
.artist-divider {
  z-index: 0;
  margin-top: 200px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 56px var(--padding-11xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child2 {
  height: 42px;
  width: 374px;
  position: relative;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray);
  display: none;
  z-index: 0;
}
.live-list {
  margin: 0;
  width: 118.7px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  line-height: 27px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.group-icon {
  position: fixed;
  height: 89.6px;
  top: 75vh;
  z-index: 10;
}
.rectangle-parent1 {
  align-self: stretch;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 31px var(--padding-7xs);
  position: relative;
  white-space: nowrap;
  max-width: 100%;
}
.time {
  flex: 1;
  position: relative;
  letter-spacing: -0.17px;
  white-space: pre-wrap;
}
.live-list1,
.live-location-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.live-list1 {
  width: 220px;
  flex-direction: row;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.live-location-content {
  align-self: stretch;
  flex-direction: column;
  gap: 17px;
  flex-shrink: 0;
  max-width: 100%;
}
.vaundy {
  margin: 0;
  bottom: 30px;
  position: relative;
  letter-spacing: -0.17px;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
  font-size: var(--font-size-13xl);
  color: black;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.second-artist-details-child {
  border-top: 1px solid #aaa;
  width: 90vw;
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
}
.second-artist-details {
  position: relative;
  bottom: -70px;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  gap: 0px;
  flex-shrink: 0;
}
.live-location-content-parent,
.second-artist-details {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.live-location-content-parent {
  height: 95px;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
  gap: 0px;
  flex-shrink: 0;
}
.h2,
.inner {
  align-self: stretch;
  flex-shrink: 0;
}
.inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.h2 {
  margin: 0;
  bottom: 15px;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.17px;
  z-index: 2;
  padding-top: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.artist-name {
  position: relative;
  margin-left: 175px;
  padding-left: 5px;
}
.frame-child3 {
  align-self: stretch;
  width: 302px;
  position: relative;
  background-color: var(--color-white);
  flex-shrink: 0;
}
.div,
.frame-section {
  display: flex;
  justify-content: flex-start;
}
.frame-section {
  align-self: stretch;
  height: 196px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-6xl);
  box-sizing: border-box;
}
.div {
  width: 100vw;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  align-items: flex-end;
  gap: 33px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 20px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.limemo {
  margin-top: 38px;
  margin-right: -35px;
}
.limemoopen {
  margin-top: 40px;
  margin-right: -10px;
}
.inner2 {
  align-self: stretch;
  position: relative;
  bottom: 70px;
  flex-shrink: 0;
  height: 150px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: black;
  font-family: var(--font-inter);
}
.div {
  overflow-x: hidden;
}
.icon-container {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}
