body {
  background-color: #00045A;
  overflow: hidden;
}
.first {
  white-space: nowrap;
  position: relative;
}
.pink {
  position: absolute;
  width: 150px;
  transform: rotate(-60deg);
  left: calc(-120px + 20vw);
  top: 30vh;
}
.purple {
  position: absolute;
  width: 150px;
  left: calc(-90px + 30vw);
}
.purple2 {
  position: absolute;
  width: 150px;
  transform: rotate(55deg);
  left: calc(-70px + 85vw);
  top: 35vh;
}
.blue {
  position: absolute;
  width: 150px;
  left: calc(-100px + 75vw);
  top: 10vh;
}
.domearea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.dome {
  width: 370px;
}
.title {
  display: flex;
  justify-content: center;
}
.liplan {
  width: 100%;
  height: 100%;
  position: absolute;
  /* margin: 0 !important; */
  top: 0;
  left: 0;
  font-size: 48px;
  letter-spacing: -0.17px;
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}