.body {
  overflow: hidden;
}
.hoh0o {
  position: fixed;
  top: 10px;
  letter-spacing: -0.17px;
  color: inherit;
  left: 10vw;
}
.div1 {
  position: absolute;
  left: 15vw;
}
.project-editor,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
}
.rectangle-parent {
  height: 186px;
  width: 100vw;
  background-color: var(--color-midnightblue-100);
  flex-direction: column;
  padding: 47px 0 29px;
}
.project-editor {
  position: fixed;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
  z-index: 3;
}
.a {
  align-self: stretch;
  font-weight: bold;
  white-space: nowrap;
}
.b {
  height: 49px;
  flex: 1;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
}
.wrapper {
  padding: 0 24px 0 23px;
  margin-top: -4px;
  font-size: var(--font-size-13xl);
}
.live-memory-actions {
  position: absolute;
  top: 6.5px;
  left: 40vw;
}
.view {
  align-self: stretch;
  letter-spacing: -0.17px;
  white-space: nowrap;
}
.empty-button {
  height: 49px;
  flex: 1;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
}
.empty-button-wrapper {
  padding: 0 24px 0 23px;
  margin-top: -4px;
  font-size: var(--font-size-13xl);
}
.memory-labels {
  position: absolute;
  top: 6.5px;
  left: 64vw;
}
.profile-details {
  position: fixed;
  top: 45px;
  color: var(--color-white);
}
.profile-actions {
  position: relative;
}
.profile-actions-wrapper {
  padding: 0 0 0 var(--padding-11xs);
  font-size: var(--font-size-2xs);
  color: var(--color-midnightblue-100);
}
.b1 {
  height: 21px;
  flex: 1;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-inner,
.rectangle-group {
  width: 134px;
  background-color: var(--color-gainsboro-100);
}
.rectangle-group {
  position: absolute;
  top: 84px;
  left: 10vw;
  border-radius: 5px;
}
.b2 {
  height: 21px;
  flex: 1;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-container {
  width: 134px;
  position: absolute;
  top: 84px;
  right: 10vw;
  background-color: var(--color-gainsboro-100);
  border-radius: 5px;
}
.next-live {
  margin: 0;
  position: absolute;
  left: 15vw;
  font-size: inherit;
  letter-spacing: -0.17px;
  color: #b2b2b2;
  top: 159px;
}
.live-memory {
  border-bottom: 4px solid #f87676;
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.17px;
  position: fixed;
  top: 159px;
  right: 15vw;
}
.frame-parent {
  font-size: var(--font-size-lg);
}
.frame-child1,
.frame-div,
.group-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.group-icon {
  right: 0.1px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child1,
.frame-div {
  right: 0;
}
.frame-child1 {
  background-color: rgba(0, 0, 0, 0.56);
}
.p,
.p1 {
  margin: 0;
}
.b4 {
  margin-left: 5%;
  z-index: 2;
  font-size: 25px;
  text-align: left;
}
.frame-parent1,
.red-hot-chili {
  align-self: stretch;
  display: flex;
  position: relative;
}
.red-hot-chili {
  margin: 0;
  height: 49px;
  font-size: 27px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
.frame-parent1 {
  flex-direction: column;
  padding: var(--padding-mini) 0 7.9px;
  gap: 25px;
}
.live1 {
  font-size: var(--font-size-base);
  letter-spacing: -0.17px;
}
.live1::placeholder {
  color: white; /* プレースホルダーテキストの色を白に設定 */
}
.frame-section,
.rectangle-parent1,
.rectangle-saikin {
  display: flex;
}
.rectangle-parent1 {
  background-color: var(--color-darkslateblue);
  padding: 11px 17px var(--padding-mini);
  z-index: 2;
}
.rectangle-saikin {
  background-color: var(--color-darkslateblue);
  padding: 11px 17px var(--padding-mini);
  z-index: 2;
}
.frame-section {
  flex-direction: column;
  color: var(--color-white);
  margin-top: 186px;
}
.b5 {
  width: 172px;
  height: 52px;
  position: relative;
  letter-spacing: -0.17px;
  display: flex;
  white-space: pre-wrap;
  align-items: center;
  padding-bottom: 10px;
}
.rectangle-icon {
  height: 82px;
  width: 150px;
  position: absolute;
  margin: 0 !important;
  bottom: -37px;
  left: -160px;
  object-fit: cover;
}
.h2,
.vaundy {
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
}
.vaundy {
  margin: 0 !important;
  width: 100%;
  position: absolute;
  bottom: -25px;
  font-size: inherit;
  line-height: 28px;
  display: flex;
  z-index: 1;
}
.h2 {
  margin: 0;
  position: relative;
  font-size: 20px;
  z-index: 2;
  bottom: 7px;
  white-space: nowrap; /* 折り返さないように追加 */
  text-overflow: clip; /* はみ出した部分を省略記号にしない */
}
.rectangle-parent2 {
  width: 201.4px;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
}
.frame-wrapper1,
.parent,
.rectangle-parent2 {
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 160px;
}
.parent {
  width: 375px;
  flex-direction: column;
  max-width: 100%;
}
.parent {
  margin-right: -13.4px;
  align-items: flex-start;
  padding: 0 29px 0 var(--padding-sm);
  box-sizing: border-box;
  gap: 10px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.x-2-icon {
  height: 113px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 1;
}
.line-parent,
.memory-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.line-parent {
  flex: 1;
  position: relative;
}
.memory-inner {
  margin-top: 48px;
  padding: 0 1px 30px 0;
  box-sizing: border-box;
}
.memory-inner::after {
  content: "";
  display: block;
  height: 1px;
  width: 90vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #aaa;
}
.frame-child4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-white);
  flex-shrink: 0;
  margin-top: 100px;
}
.frame-footer,
.memory {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-footer {
  width: 375px;
  height: 146px;
  flex-direction: row;
  padding: 0 36px 0 37px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.memory {
  height: 812px;
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow-x: auto;
  flex-direction: column;
  gap: 55px;
  line-height: normal;
  letter-spacing: normal;
}
.div {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  align-items: flex-end;
  gap: 33px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 20px;
  color: var(--color-black);
  font-family: var(--font-inter);
  overflow-x: hidden;
}
.icon-container {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}

#parentContainer {
  display: none;
}
