body {
  margin: 0;
  line-height: normal;
  overflow-x: hidden;
  width: 100%;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-darksalmon: #f09680;
  --color-midnightblue: #00045a;
  --color-darkgray-100: #979797;
  --color-darkgray-200: #969696;
  --color-black: #000;
  --color-dimgray: #50555c;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-4xs: 9px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-lg: 18px;
  --padding-6xs: 7px;
  --padding-4xs: 9px;
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-61xl: 80px;
  --br-8xs: 5px;
}

html {
  overflow-x: hidden;
}

/* ここまでglobal.cssの内容 */

.child,
.item {
  align-self: stretch;
  position: relative;
}
.child {
  height: 186px;
  background-color: var(--color-midnightblue);
  display: none;
}
.item {
  width: 6.2px;
  max-height: 100%;
  object-fit: contain;
  min-height: 12px;
}
.next-live {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 11px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.div,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  gap: 5px;
  cursor: pointer;
  z-index: 3;
}
.wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  flex-shrink: 0;
}
.icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 3;
}
.container {
  height: 93px;
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.glyphssmallmap-icon {
  width: 22px;
  height: 26px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.glyphssmallmap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
  position: fixed;
  top: 115px;
  left: 168px;
}
.b {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 20px;
  display: inline-block;
  min-width: 77px;
  z-index: 3;
}
.p,
.sekaino-owari {
  margin: 0;
}
.k,
.sekaino-owari-2024-container {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 20px;
  display: inline-block;
  z-index: 3;
}
.sekaino-owari-2024-container {
  text-decoration: none;
  height: 33px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
}
.k {
  height: 10px;
  font-size: var(--font-size-sm);
  min-width: 93px;
  padding-left: 17px;
}
.frame-container,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 7.5px;
  padding-left: 8px;
}
.frame-container {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  min-width: 111px;
}
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1px;
}
.frame-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 16px 0 15px;
  box-sizing: border-box;
  margin-top: 45px;
}
.b1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  line-height: 11px;
  flex-shrink: 0;
  min-width: 90px;
}
.b2 {
  margin: 0;
  width: 20%;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
  z-index: 3;
  line-height: 11px;
  display: inline-block;
  color: var(--color-white);
  min-width: 30px;
  border-bottom: 4px solid #f87676;
  padding-bottom: 4px;
}
.b3 {
  margin: 0;
  width: 28%;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 11px;
  min-width: 60px;
  cursor: pointer;
}
.b4 {
  width: 30%;
  line-height: 11px;
  display: inline-block;
  min-width: 45px;
  cursor: pointer;
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
  z-index: 3;
}
.group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  color: #979797;
}
.frame-child {
  position: relative;
  box-sizing: border-box;
}
.divider-top {
  height: 1.5px;
  width: 376.5px;
  border-top: 1.5px solid var(--color-darkgray-100);
  max-width: 100%;
  position: fixed;
  top: 186px;
}
.frame-child {
  height: 3px;
  width: 101px;
  border-top: 3px solid var(--color-darksalmon);
  z-index: 3;
  margin-left: -317px;
}
.frame-parent,
.section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent,
.section {
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent,
.section {
  gap: 18px;
  flex-shrink: 0;
}
.section {
  position: fixed;
  height: 175px;
  width: 100vw;
  background-color: var(--color-midnightblue);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
  z-index: 3;
}
.info-details-child {
  height: 20px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
}
.b6 {
  width: 10vw; /*要素の幅*/
  height: auto;
  position: absolute; /*相対位置*/
  letter-spacing: -0.17px; /*文字間隔*/
  line-height: 9px; /*テキストの行間*/
  display: inline-block; /*インラインブロック*/
  min-width: 14px; /*最小幅*/
  z-index: 3;
  background-color: var(--color-white); /*背景色を白に設定*/
  color: #50555c; /*テキストの色*/
  font-size: 16px; /*テキストサイズ*/
  font-weight: 500;
}
input[type="time"]::-webkit-date-and-time-value {
  padding-top: 10px;
  text-align: left !important;
}

.info-details-item {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.info-details {
  position: relative; /*親要素に対して絶対位置*/
  z-index: 2; /*スタッキング順序*/
  top: 14px; /*要素の上端を親要素の上端からの位置*/
  left: 10px; /*要素の左端を親要素の左端から10ピクセルの位置*/
  display: flex;
  flex-direction: row; /*レイアウトを横並びに*/
  align-items: flex-start; /*子要素を垂直方向に開始位置を揃える上揃え*/
  justify-content: flex-start; /*子要素を垂直方向に開始位置を揃える左揃え*/
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-10xs)
    　var(--padding-8xs); /*上右下左*/
}

.b8 {
  height: 15px; /*要素の高さ*/
  position: relative; /*相対位置*/
  letter-spacing: -0.17px; /*テキストの文字間隔*/
  line-height: 20px; /*テキストの行間*/
  display: flex; /*フレックスコンテナ*/
  align-items: center; /*垂直方向の中央に揃える*/
  min-width: 20px; /*最小幅*/
  border: none; /*枠線を取り除く*/
  font-size: 15px;
  font-weight: 700;
}
.show-time-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
/*.b9 {
  width: 15px;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: -0.17px;
  display: flex;
  color: var(--color-darkgray-200);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transform: rotate(-90deg);
}*/
.div2 {
  align-self: stretch;
  flex-direction: row;
  background-color: var(--color-white);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px var(--padding-8xs);
  gap: var(--gap-xl);
}
.input {
  align-self: stretch;
  flex-direction: row;
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #f2f2f2;
  height: 30px;
  justify-content: flex-start;
  padding: 12px 13px;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 12px;
  color: var(--color-dimgray);
  min-width: 162px;
  border-radius: 0;
  display: flex;
  align-items: flex-start;
}
.frame-wrapper1,
.parent1 {
  display: flex;
  align-items: flex-start;
}
.parent1 {
  width: 290px;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0; /* 横幅が長くなっても隙間を保つ */
  position: absolute; /* 相対位置に変更 */
  left: calc(15vw - 20px); /* b6の幅に40pxを加えた位置に配置 */
}
.frame-wrapper1 {
  flex-direction: row;
  justify-content: flex-end;
}

.frame-parent4 {
  position: absolute;
  top: 13px;
  left: 37px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 10px;
  color: var(--color-dimgray);
  width: 10vw;
}
.div1 {
  align-self: stretch;
  height: 95px;
  position: relative;
  background-color: rgba(127, 102, 160, 0.6);
  font-size: var(--font-size-xs);
  /*margin-bottom: 4px;*/
}
.frame-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  align-items: flex-start;
}

.frame-parent1 {
  align-self: stretch;
  flex-direction: column;
  gap: 93px;
}
.rectangle-div {
  height: 60px;
  width: 140px;
  position: relative;
  border-radius: var(--br-61xl);
  background-color: var(--color-darksalmon);
  display: none;
}
.b11 {
  position: relative;
  font-size: 18px;
  letter-spacing: -0.17px;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  min-width: 40px;
  z-index: 3;
}
.frame-wrapper4 {
  margin-top: -100px;
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-8xs) 0 0;
}
.group-icon {
  width: 20.2px;
  height: 28.3px;
  position: relative;
  object-fit: contain;
}
.frame-wrapper5 {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child1 {
  width: 20.2px;
  height: 28.3px;
  position: relative;
  object-fit: contain;
}
.frame-wrapper6 {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent5,
.frame-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent5 {
  flex: 1;
  justify-content: flex-start;
  gap: 4.8px;
}
.frame-wrapper3 {
  width: 316px;
  justify-content: flex-end;
  padding: 0 60px;
  box-sizing: border-box;
}
.frame-section,
.lnliveplan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-section {
  align-self: stretch;
  align-items: flex-end;
  gap: 127px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
  margin-top: 186px;
}
.lnliveplan {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  align-items: flex-start;
  box-sizing: border-box;
  gap: 8px;
  line-height: normal;
  letter-spacing: normal;
}
.p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*おすすめ*/
.osusume,
.tourokuspot {
  background-color: #ebebeb;
  padding: 10px;
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column; /* 垂直方向に要素を配置 */
}

.osusume-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 左揃えに変更 */
  padding: 0 10px;
  white-space: nowrap; /* 改行を防ぐ */
}

.osusumetitle {
  margin: 10px;
  font-size: 20px;
  text-align: left; /* 左揃えにする */
  margin-right: 10px; /* 右にマージンを追加 */
}

.osusumespot-container {
  display: flex;
  flex-direction: row; /* 横方向に要素を配置 */
  justify-content: space-between; /* 要素を左右に均等に配置 */
  width: 100%; /* 親要素の幅に合わせる */
}

.osusumespot {
  display: flex;
  flex-direction: column; /* 垂直方向に要素を配置 */
  align-items: center; /* 横方向に中央配置 */
  justify-content: center; /* 縦方向に中央配置 */
  text-align: center; /* テキストも中央揃えに */
  margin: 0 10px; /* 左右にマージンを追加 */
  flex: 1; /* 要素を均等に拡張 */
  max-width: 33%; /* 最大幅を33%に設定 */
  padding-bottom: 15px;
}

.osusumegazou {
  width: 100px; /* 任意のサイズ */
  height: 100px; /* 幅と高さを同じにする */
  border-radius: 50%; /* 画像を丸くする */
  object-fit: cover; /* 画像の縦横比を保ちながら丸くする */
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 1px 10px; /* 縦のパディングをさらに狭くする */
  background-color: var(--color-darksalmon);
  border-radius: var(--br-61xl);
  margin-bottom: 10px;
  display: flex; /* フレックスボックスに変更 */
  align-items: center; /* 垂直方向に中央揃え */
  justify-content: center; /* 水平方向に中央揃え */
  margin: 10px;
}

.three-dots {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 5;
  filter: invert(100%);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  color: var(--color-darksalmon);
  font-weight: bold;
  font-size: 16px;
  font-family: var(--font-inter);
}

.dropdown-button:hover {
  background-color: #f0f0f0;
}

.add-schedule-button {
  margin-top: 0;
  padding: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: center;
  display: flex; /* デフォルトで表示 */
  justify-content: center;
}

.add-schedule-button img {
  width: 24px; /* アイコンの幅を設定 */
  height: 24px; /* アイコンの高さを設定 */
  padding-top: 35px;
  padding-left: 5vw;
}

.spotplus-icon {
  width: 40px; /* アイコンの幅を少し小さくする */
  height: 40px; /* アイコンの高さを少し小さくする */
  margin-right: -2px; /* テキストとの間のスペースをさらに狭くする */
  vertical-align: middle; /* テキストとアイコンを中央揃え */
  margin-left: -15px; /* ボタンを左に寄せる */
}
