/* 以下、global.cssを記述 */
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-3xs: 10px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-midnightblue-100: #00045a;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(228, 228, 228, 0.7);
  --color-gray-100: #858585;
  --color-gray-200: rgba(0, 0, 0, 0.11);
  --color-dimgray: #646464;
  --color-darkslateblue: #7f66a0;
  --color-silver: #bfbfbf;
  --color-darkgray-100: #979797;

  /* Gaps */
  --gap-4xs: 9px;
  --gap-xl: 20px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-6xl: 25px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-6xs: 7px;
  --padding-11xs: 2px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-40xl: 59px;
  --padding-34xl: 53px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-10xs: 3px;
}

html {
  overflow-x: hidden;
}

/* 上記global.CSS*/

.child,
.item {
  align-self: stretch;
  position: relative;
}
.child {
  height: 186px;
  background-color: #00045a;
  display: none;
}
.item {
  width: 6.2px;
  max-height: 100%;
  object-fit: contain;
  min-height: 12px;
}
.next-live {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.27px;
  line-height: 11px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.div,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 10px;
  left: 10px;
}
.div {
  gap: 5px;
  cursor: pointer;
  z-index: 1;
}
.wrapper {
  padding: 0 14px;
  flex-shrink: 0;
}
.icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.container {
  height: 93px;
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.glyphssmallmap-icon {
  width: 22px;
  height: 26px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.glyphssmallmap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
  position: fixed;
  top: 115px;
  left: 168px;
}
.placeholder {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 20px;
  display: inline-block;
  min-width: 77px;
  z-index: 3;
}
.p,
.sekaino-owari {
  margin: 0;
}
.k,
.sekaino-owari-2024-container {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 20px;
  display: inline-block;
  z-index: 3;
}
.sekaino-owari-2024-container {
  text-decoration: none;
  height: 33px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
}
.k {
  height: 10px;
  font-size: 14px;
  min-width: 93px;
  padding-left: 17px;
}
.event-detail,
.event-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.event-detail {
  align-self: stretch;
  justify-content: flex-start;
  gap: 7.5px;
  padding-left: 8px;
}
.event-info {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  min-width: 111px;
}
.live-detail,
.live-detail-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.live-detail {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1px;
}
.live-detail-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 16px 0 15px;
  box-sizing: border-box;
  margin-top: 45px;
}
.h3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  line-height: 11px;
  flex-shrink: 0;
  min-width: 90px;
  padding-bottom: 4px;
}
.h31 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
  line-height: 11px;
  display: inline-block;
  width: 20%;
}
.h32 {
  margin: 0;
  width: 28%;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11px;
  color: var(--color-white);
  min-width: 60px;
  cursor: pointer;
  border-bottom: 4px solid #f87676;
  padding-bottom: 4px;
}
.h33 {
  width: 30%;
  line-height: 11px;
  display: inline-block;
  min-width: 45px;
  cursor: pointer;
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.17px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  text-align: left;
}
.frame-child {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 1.5px;
  width: 376.5px;
  border-top: 1.5px solid var(--color-darkgray-100);
  max-width: 100%;
  object-fit: contain;
  z-index: 1;
}
.frame-item {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 1px;
  height: 3px;
  width: 101px;
  border-top: 3px solid var(--color-darksalmon);
  z-index: 1;
}
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1px;
}
.frame-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 16px 0 15px;
  box-sizing: border-box;
  margin-top: 45px;
}
.frame-container,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-container {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  min-width: 111px;
}
.parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 7.5px;
  padding-left: 8px;
}
.vector-parent {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.content,
.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.list-header-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  color: #979797;
}
.content,
.section {
  max-width: 100%;
}
.content {
  gap: 18px;
  flex-shrink: 0;
}
.section {
  height: 175px;
  width: 600px;
  width: 100vw;
  background-color: #00045a;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
  position: fixed;
}
.ticket-child {
  align-self: stretch;
  height: 243px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.ticket-details-child {
  height: 100%;
  width: 100vw;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  z-index: 1;
}
.b5 {
  left: -20px;
  font-size: 15px;
  color: white;
  height: 30px;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  min-width: 63px;
  position: relative;
  z-index: 2;
  padding-left: 25px;
}
.ticket-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.ticket-details {
  flex: 1;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs);
  position: relative;
}
.or,
.span {
  font-size: var(--font-size-3xs);
}
.or-container {
  margin-top: -20px;
  flex: 1;
  position: relative;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  z-index: 1;
  padding-left: 25px;
}
.or-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.or-wrapper {
  width: 321.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}

textarea {
  margin-top: -10px;
  height: 80px;
  width: 300px;
  padding: 0 10px;
  font-size: 14px;
  color: #666666;
  resize: none;
}
#textareaField::placeholder {
  padding-top: 5px;
}
.a-1-1-container {
  width: 274px;
  position: relative;
  letter-spacing: -0.17px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent2,
.rectangle-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.frame-parent2 {
  flex-direction: column;
  gap: 22px;
}
.rectangle-div {
  height: 28px;
  width: 177.2px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.group-icon {
  position: relative;
  z-index: 2;
}
.group-icon {
  margin-top: -13px;
  margin-left: -35px;
  height: 15px;
  width: 15.3px;
  min-height: 15px;
}
.frame-wrapper1,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--color-gainsboro-100);
  padding: var(--padding-7xs) 0 var(--padding-6xs) 54px;
  gap: 9.1px;
  z-index: 1;
}
.frame-parent1,
.ticket-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  flex-shrink: 0;
  align-items: center;
}
.frame-parent1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 33px;
}
.ticket-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 23px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
  margin-top: 175px;
}
.period-details-child {
  height: 100%;
  width: 100vw;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  z-index: 1;
}
.b7,
.images-1-icon {
  position: relative;
  z-index: 2;
}
.b7 {
  height: 30px;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  min-width: 63px;
}
.images-1-icon {
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.images-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
}
.b8 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.17px;
  z-index: 2;
}
.wrapper1 {
  width: 93px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  font-size: 8px;
  color: #eaeaea;
}
.period-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xl) 4px;
  position: relative;
  gap: 8px;
}
.span1 {
  font-size: var(--font-size-3xs);
}
.txt {
  margin-top: 50px;
  width: 100%;
  z-index: 2; /* 高い値を設定 */
  color: #646464;
}
.b9 {
  width: 317.8px;
  height: 26px;
  position: relative;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.month-icon-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  width: 76.4px;
  height: 28.2px;
}
.month-icon-item {
  position: absolute;
  top: 8.2px;
  left: 59.5px;
  width: 11.9px;
  height: 12px;
  object-fit: contain;
  z-index: 1;
}
.month-icon {
  height: 28.2px;
  flex: 1;
  position: relative;
}
.b10 {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 19.5px;
  display: inline-block;
  min-width: 18.3px;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.frame-wrapper1 {
  margin: 0 30%;
}
label {
  margin-top: -20px;
  margin-left: -5px;
  padding: 5px 40px 5px 25px;
  color: #646464;
  background-color: #e6e6e6;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 12px;
}
label:hover {
  opacity: 0.8;
}
input[type="file"] {
  display: none;
}
.month-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-gainsboro-200);
  width: 39.7px;
  height: 29.4px;
}
.separator-shape-icon {
  position: absolute;
  top: 9.4px;
  left: 24.8px;
  width: 11.9px;
  height: 12px;
  object-fit: contain;
  z-index: 1;
}
.date-separator {
  height: 29.4px;
  width: 45.8px;
  position: relative;
}
.b11 {
  position: relative;
  letter-spacing: -0.17px;
  line-height: 19.5px;
  display: inline-block;
  min-width: 18.3px;
  flex-shrink: 0;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-gainsboro-200);
  width: 39.7px;
  height: 29.4px;
}
.polygon-icon {
  position: absolute;
  top: 9.4px;
  left: 24.8px;
  width: 11.9px;
  height: 12px;
  object-fit: contain;
  z-index: 1;
}
.rectangle-container {
  height: 29.4px;
  width: 45.8px;
  position: relative;
}
.b12,
.month-icon-parent {
  display: flex;
  flex-shrink: 0;
}
.b12 {
  width: 18.3px;
  position: relative;
  letter-spacing: -0.17px;
  line-height: 19.5px;
  align-items: center;
}
.month-icon-parent {
  width: 250.6px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 3.1px;
}
.b13 {
  margin-right: 10px;
  position: relative;
  letter-spacing: -0.17px;
  line-height: 19.5px;
  display: inline-block;
  min-width: 18.3px;
  flex-shrink: 0;
}
.hour-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-gainsboro-200);
  width: 100%;
  height: 100%;
}
.hour-icon-child {
  position: absolute;
  top: 9.4px;
  left: 24.8px;
  width: 11.9px;
  height: 12px;
  object-fit: contain;
  z-index: 1;
}
.hour-icon {
  height: 100%;
  width: 39.7px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 40.5px;
  bottom: 0;
}
.frame-parent3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
}
.date-time {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#date-time {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  height: 30px;
  width: 300px;
  padding: 0 30px;
}
.event-title-placeholder,
.tour-name {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.tour-name {
  align-self: stretch;
  flex-direction: row;
  padding: 0 21px 0 var(--padding-6xl);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
  display: flex;
  justify-content: center;
}
.period-details-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-section {
  align-self: stretch;
  flex-shrink: 0;
}
.frame-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 150px 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.ticket {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-inter);
  overflow-y: auto;
}
.ticketImage {
  width: 300px;
  text-align: center;
}
.p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#storedImage {
  display: block;
  margin: 0 auto;
}
.frame-wrapper1.hidden {
  display: none;
}
