.icon {
  top: 0;
  right: 0;
  bottom: 4px;
  left: 2px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.background,
.icon,
.icon1,
.oval {
  position: absolute;
  width: 100%;
  height: 100%;
}
.icon1 {
  top: 0;
  right: 2px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.background,
.oval {
  right: 0;
}
.background {
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.oval {
  top: calc(50% - 15px);
  border-radius: 50%;
  background-color: #b6b6b6;
}
.close-icon,
.close-icon1 {
  position: absolute;
  top: 10.8px;
  left: 8px;
  background-color: var(--color-gainsboro);
  width: 4px;
  height: 16px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.close-icon1 {
  top: 8px;
  left: 19.3px;
  transform: rotate(45deg);
}
.a,
.div {
  position: relative;
  z-index: 2;
}
.div {
  height: 30px;
  width: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.a {
  text-decoration: none;
  letter-spacing: -0.17px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 72px;
}
.header,
.header1,
.new-label {
  display: flex;
  align-items: flex-start;
}
.new-label {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.header,
.header1 {
  flex-direction: row;
}
.header1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header {
  width: 245px;
  justify-content: flex-start;
  padding: 0 22px;
  box-sizing: border-box;
}
.divider-icon {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.span {
  color: var(--color-darksalmon);
}
.b {
  height: 29px;
  position: relative;
  letter-spacing: -0.17px;
  line-height: 29.33px;
  display: inline-block;
  z-index: 2;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 44px 0;
  font-size: 23px;
}
.b1,
.b2 {
  position: relative;
  z-index: 2;
}
.b1 {
  letter-spacing: -0.17px;
  display: inline-block;
  min-width: 50px;
}
.b2 {
  flex-shrink: 0;
  flex: 1;
  letter-spacing: -0.17px;
}

.parent,
.selection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.selection {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-gainsboro);
}
.parent {
  width: 92.3px;
  flex-direction: column;
  gap: var(--gap-4xs);
  align-self: stretch;
}
.b3,
.b4 {
  width: 50px;
  position: relative;
  letter-spacing: -0.17px;
  display: flex;
  /*align-items: center;*/
  z-index: 2;
}
.b4 {
  width: 60px;
  font-size: var(--font-size-base);
  color: var(--color-gainsboro);
}
.selection1 {
  width: 98.3px;
  display: flex;
  position: absolute; /* 絶対位置指定 */
  left: 180px; /* 左から180pxの位置に配置 */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}

.date-selector {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.date-selector-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 var(--padding-10xs);
}
.calendar-input,
.date-input-child {
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-whitesmoke);
  box-sizing: border-box;
  z-index: 2;
}
.calendar-input {
  width: 102px;
}
.date-input-child {
  flex: 1;
}
.date-input {
  align-self: stretch;
  flex-direction: row;
  gap: 40px;
}
.date-input,
.frame-parent,
.lnlive-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.lnlive-inner {
  width: 362px;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  max-width: 100%;
}
.b5 {
  flex: 1;
  position: relative;
  letter-spacing: -0.17px;
  z-index: 2;
}
.create-label {
  width: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}

.calendar-choose {
  position: relative;
  z-index: 2;
}

.calendar-choose, 
.input,
.areaselect,
.venueselect {
  height: 150%; /* 親要素の高さに合わせる */
  border: none;
  outline: none;
  font-size: var(--font-size-base);
  background-color: transparent;
  color: var(--color-darkgray);
  font-weight: bold;
}
.group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-whitesmoke);
  box-sizing: border-box;
  z-index: 2;
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.artist-label,
.create-label-parent,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.create-label-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
}
.artist-label {
  width: 362px;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  max-width: 100%;
}
.b6 {
  position: relative;
  letter-spacing: -0.17px;
  display: inline-block;
  min-width: 70px;
}

.live-name-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.b7,
.icon5 {
  position: relative;
  flex-shrink: 0;
}
.b7 {
  width: 170px;
  letter-spacing: -0.17px;
  display: flex;
  align-items: center;
}
.input2::placeholder,
.input3::placeholder {
  color: var(--color-gainsboro); /* プレースホルダーの文字色を灰色に設定 */
}
.input2,
.input3 {
  position: absolute; /* 絶対位置指定 */
  left: 31px; /* 左から31pxの位置に配置 */
  vertical-align: middle; /* 垂直方向の位置合わせ */
  font-weight: bold; /* フォントの太さを調整 */
  font-size: inherit; /* フォントサイズを継承 */
  color: var(--color-darkgray);
  background-color: transparent; /* 背景色を透明に */
  border: none; /* 枠線を消去 */
  outline: none; /* アウトラインを消去 */
}
.icon5 {
  height: 20px;
  width: 20px;
  overflow: hidden;
}
.live-name-input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.child,
.div1,
.frame {
  box-sizing: border-box;
}
.child {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-whitesmoke);
}
.div1,
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1 {
  height: 67px;
  width: 300px;
  flex-direction: column;
  padding: 0 0 var(--padding-7xs);
  gap: var(--gap-5xs-5);
  z-index: 2;
}
.frame {
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  max-width: 100%;
}
.b8 {
  position: relative;
  letter-spacing: -0.17px;
  display: inline-block;
  min-width: 120px;
}
.wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.b9,
.icon6 {
  position: relative;
}
.b9 {
  letter-spacing: -0.17px;
}
.icon6 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.artist-name-input {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-gainsboro);
}
.item {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-whitesmoke);
  box-sizing: border-box;
}
.div2,
.frame-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.div2 {
  height: 67px;
  width: 300px;
  flex-direction: column;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-5xs-5);
  z-index: 2;
}
.frame-div {
  flex-direction: row;
  padding: 0 41px var(--padding-sm) 34px;
}
.create-button-container-child {
  height: 60px;
  width: 140px;
  position: relative;
  border-radius: var(--br-61xl);
  background-color: var(--color-darksalmon);
  display: none;
}
.b10 {
  position: relative;
  font-size: 20px;
  letter-spacing: -0.17px;
  display: inline-block;
  font-family: var(--font-inter);
  color: #fff;
  text-align: left;
  min-width: 40px;
  z-index: 3;
}
.create-button-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) 47px var(--padding-lg) 53px;
  background-color: var(--color-darksalmon);
  border-radius: var(--br-61xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 25px;
  width: 20.2px;
  height: 28.3px;
  object-fit: contain;
  z-index: 2;
}
.frame-inner {
  top: 0.1px;
  left: 0;
}
.frame-container {
  width: 45.2px;
  height: 28.4px;
  position: relative;
}
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.8px 0 0;
}
.create-button-container-parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.create-button-container-parent,
.live-record,
.lnlive {
  display: flex;
  align-items: flex-start;
}
.live-record {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 56px;
}
.lnlive {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 0 116px 2px;
  box-sizing: border-box;
  gap: 27px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
